<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MDMEntities" connectionString="metadata=res://*/Src.ConcreteDB.DataBase.Model.csdl|res://*/Src.ConcreteDB.DataBase.Model.ssdl|res://*/Src.ConcreteDB.DataBase.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL05DSK2;initial catalog=MDMDev;persist security info=True;user id=MDM_Write;password=MDMDev_Write;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Autocad_ConcerteList.Properties.Settings.conMdmDev"
      connectionString="metadata=res://*/Src.ConcreteDB.DataBase.Model.csdl|res://*/Src.ConcreteDB.DataBase.Model.ssdl|res://*/Src.ConcreteDB.DataBase.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;&quot;Server=SQL05DSK2; Database=MDMDev; User Id=MDM_Write;Password=MDMDev_Write; MultipleActiveResultSets=True; App=EntityFramework&quot;" />
  </connectionStrings>
</configuration>